@media (min-width: 992px){
.sidebar {
    padding-left: 0 !important;
    flex: 0 0 auto;
    width: 33.3333333333% !important;
}
}
@media (min-width: 1200px){
.sidebar {
    flex: 0 0 auto;
    width: 33.3333333333% !important;
}
}

.card{
    margin-bottom: 1rem !important;
    width: 100% !important;
    border: 0 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 15px !important;
    box-shadow: 0 8px 30px rgb(0 0 0 / 5%) !important;
    font-family: Poppins;
}

.cardTitle {
    padding: 1.5rem !important;
    align-items: center !important;
    display: flex !important;
    flex: 1 1 auto;
}

.cardTitle h4{
    font-weight: 700 !important;
    color: #212529 !important;
    margin-bottom: 0 !important;
    font-size: 12px !important;
    margin-top: 0;
}

.cardTitle a {
    font-weight: 600 !important;
    margin-left: auto !important;
    color: #1E74FD !important;
    font-size: 12px !important;
}

.cardEvent {
    padding-left: 1.5rem !important;
    padding-bottom: 1rem !important;
    padding-right: 1.5rem !important;
    flex: 1 1 auto;
    padding-top: 0 !important;
    display: flex !important;
    overflow: hidden !important;
}
.eventInfo{
    font-weight: 700 !important;
    color: #212529 !important;
    margin-top: 0.5rem !important;
    font-size: 12px !important;
    margin-bottom: 0.5rem;
}
.eventInfo span{
    font-weight: 500 !important;
    color: #adb5bd !important;
    margin-top: 0.25rem !important;
    display: block !important;
    font-size: 10px !important;
    line-height: 1.6;
}
.cardBg {
    padding: 1rem !important;
    margin-right: 0.5rem !important;
    border-radius: 15px !important;
}
.cardBg h4{
    font-weight: 700 !important;
    color: #fff !important;
    line-height: 1 !important;
    margin-bottom: 0px !important;
    font-size: 25px !important;
    letter-spacing: 1px;
    margin-top: 0;
}
.cardBg span {
    font-weight: 600 !important;
    color: #fff !important;
    display: block !important;
    font-size: 14px !important;
    letter-spacing: 0.4px;
    line-height: 1 !important;
}

.cardGalery {
    padding-bottom: 0.5rem !important;
    padding-top: 0 !important;
    display: block !important;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.galery {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.photo {
    padding: 0.25rem !important;
    margin-bottom: 0.25rem !important;
    flex: 0 0 auto;
    width: 50%;
    height: 150px;
    overflow: hidden;
    border-radius: 0.3rem !important;
}

.photo img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3rem !important;
}

.moreBtn {
    padding-top: 0 !important;
    width: 100% !important;
    display: block !important;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.moreBtn i {
    font-size: 15px;
    margin-right: 5px;
}
.moreBtn a {
    font-weight: 700 !important;
    color: #343a40 !important;
    text-align: center !important;
    padding: 0.5rem !important;
    width: 100% !important;
    display: block !important;
    border-radius: 30px !important;
    font-size: 12px !important;
    line-height: 28px;
    background-color: #eee !important;
}